<div class="main-div" >
  <div class="login">
    <form class="modal-content animate" [formGroup]="loginForm"  (ngSubmit)="onSubmit()" >
      <div class="container title"><h1> Login </h1> </div>
      <div class="container">
        <fa-icon [icon]="userIcon"></fa-icon>
        <label for="dfvVnr"><b> Vertragsnummer </b></label>
        <input type="text" id="dfvVnr" formControlName="dfvVnr" autocomplete="off" [(ngModel)]="getvnr">
        <div class="error" *ngIf="loginForm.controls['dfvVnr'].hasError('required')
          && loginForm.controls['dfvVnr'].touched"> Bitte Vertragsnummer eingeben </div>
        <fa-icon [icon]="passIcon"></fa-icon>
        <label for="vnGeb"><b> Geburtsdatum </b></label>
        <input type="text"  id="vnGeb" formControlName="vnGeb" autocomplete="off" [(ngModel)]="gebdat">
        <div class="error" *ngIf="loginForm.controls['vnGeb'].hasError('required')
          && loginForm.controls['vnGeb'].touched"> Bitte Geburtsdatum eingeben </div>
        <button class="btn login-button" [disabled]="loginForm.invalid"> Login </button> <br>
        <div *ngIf="invalidLogin" class="error">
          <div> Ungültiger Vertragsnummer oder Geburtsdatum. Bitte versuchen Sie es erneut. </div>
        </div>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </div>
      <div class="container bottom-div">
        <button class="cancelbtn" (click)="cancel()"> Cancel </button>
        <span class="psw"><a href="#"> Password </a> vergessen?</span>
        <span class="psw"> Jetzt <a href="#"> registrieren.</a></span>
      </div>
    </form>
  </div>
</div>

